<p id="notice"><%= notice %></p>

<p>
  <strong>Maker:</strong>
  <%= @car.maker %>
</p>

<p>
  <strong>Maker name:</strong>
  <%= @car.maker_name %>
</p>

<p>
  <strong>Car model:</strong>
  <%= @car.car_model %>
</p>

<p>
  <strong>Car model name:</strong>
  <%= @car.car_model_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @car.price %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
